# Oral/Poster Presentations
./files/pdf/presentations/CCG2024/Slide.pdf
./files/pdf/presentations/GA2024/Slide.pdf
./files/pdf/presentations/RSUSHD2024/Slide.pdf
./files/pdf/presentations/RSUSHD2024/Poster.pdf
./files/pdf/presentations/SpatialDataScience2024/Slide.pdf
./files/pdf/presentations/AGILE2024/Poster.pdf
./files/pdf/presentations/AGILE2024/Slide.pdf
./files/pdf/presentations/City+Perth2023/Slide.pdf
./files/pdf/presentations/LocBigDataAI2023/Slide.pdf

# Discussions
./files/pdf/discussions/15.CartoAgent a multi-modal large languge model empowered multi-agent mapping framework and its application in map style transfer and evaluation.pdf
./files/pdf/discussions/14.CartoAgent A Multi-modal Foundation Model Empowered Multi-agent Framework for Map-making Taking Map Style Transfer and Evaluation as an Example.pdf
./files/pdf/discussions/12.A spatially explicit multimodal deep learning approach to modeling urban functions.pdf